.search-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--grey);
  background-color: var(--darkGrey);
  width: 70%;
  margin: 1rem auto;
}

.search-flex input {
  background-color: var(--darkGrey);
  border: none;
  outline: none;
  width: 100%;
  font-family: "Inter";
  font-size: 0.9rem;
  color: var(--grey);
}
