.grid-flex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 0.5rem;
  /* padding: 0 2rem; */
}

.list-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: var(--black);
}
